---
import LayoutVoid from "../layouts/LayoutVoid.astro";

import PrivacidadMarkdown from "../content/privacidad.md"
---

<LayoutVoid title="Terminos y Condiciones">
  <h1>Terminos y Condiciones</h1>
  <PrivacidadMarkdown />
</LayoutVoid>
