---

interface logoProp {
  imgLogo: string;
};

type MenuItem = {
  label: string;
  link: string;
};

interface menuProp {
  menuObject: MenuItem[];
};

const { menuObject } = Astro.props as menuProp;
const { imgLogo } = Astro.props;
---

<section class="navBarDesktop">

  <figure class="logo">
    <a href="/">
      <img src={imgLogo} alt="Alianza Teatral Conect-arte logo" />
    </a>
  </figure>

  <ul>
    { menuObject.map((item) => (
      <li>
        <a href={item.link}>{item.label}</a>
      </li>
    ))}
  </ul>

</section>



<style lang="sass">
.navBarDesktop
  width: 100%
  height: 4em
  margin: 0
  padding: 0
  background-color: rgba(64, 52, 39, 0.8)


.logo
  width: 10em
  height: 100%
  margin: 0
  margin-top: 1em
  margin-left: 2.5em
  padding: 0
  float: left
  a
    width: 100%
    height: auto
    item-align: center
  img
    max-width: 100%
    height: auto

ul
  list-style-type: none
  margin: 0
  margin-top: 8px
  margin-right: 2em
  padding: 1em
  overflow: hidden
  float: right
  border: 0
  li
    display: inline
    padding: 1em
    a
      text-align: center
      text-decoration: none
      color: white
    &:hover
      background-color: rgba(86, 70, 50,1.0)
</style>




