---
type MenuItem = {
  label: string;
  link: string;
};

interface menuProp {
  menuObject: MenuItem[];
};

const { menuObject } = Astro.props as menuProp;
const { imgLogo } = Astro.props;
---

<section class="navBarMobile">

  <div class=out-toggle>
    <label class="menu-icon">&#9776;</label>

    <figure class="logo">
      <a href="/">
        <img src={imgLogo} alt="Alianza Teatral Conect-arte logo" />
      </a>
    </figure>
  </div>

  <div class="menu-toggle">
    <ul>
      { menuObject.map((item) => (
        <li>
          <a href={item.link}>{item.label}</a>
        </li>
      ))}
    </ul>
  </div>

</section>



<style lang="sass">
.navBarMobile

.out-toggle
  padding: 0
  margin: 0
  float: center

.menu-icon
  position: relative
  top: 10px
  margin-left: 1em
  color: white
  font-size: 40px
  cursor: pointer
  &:hover .menu-toggle
    display: block

.logo
  position: relative
  bottom: 2.6em
  width: 12em
  padding: 0
  margin: auto
  a
    width: 100%
    height: auto
    item-align: center
  img
    max-width: 100%
    height: auto

.menu-toggle
  display: none
  float: left
  padding: 0
  margin: 0
  width: 24em
  height: 100vh
  background-color: rgba(0, 0, 0, 0.1)
  box-shadow: 8px 0px 30px 0px rgba(25,25,25,0.4)
  backdrop-filter: blur(50px)

ul
  height: 100vh
  width: 100%
  list-style-type: none
  margin: 0
  margin-top: 2.8em
  padding: 0
  border: 0
  font-size: 1.2em
  li
    padding: 0
    padding-top: 1em
    padding-bottom: 1em
    a
      text-align: center
      text-decoration: none
      color: white
      padding: 0.8em
      padding-left: 2.8em
      padding-right: 14em 
    &:hover
      background-color: rgba(140, 111, 73,0.6)
</style>


