---
type MenuItem = {
  label: string;
  link: string;
};

interface menuProp {
  menuObject: MenuItem[];
};

const { menuObject } = Astro.props as menuProp;
const { imgLogo } = Astro.props;
---

<section class="navBarMobile">

  <div class=out-toggle>
    <label class="menu-icon">&#9776;</label>

    <figure class="logo">
      <a href="/">
        <img src={imgLogo} alt="Alianza Teatral Conect-arte logo" />
      </a>
    </figure>
  </div>

  <div class="menu-toggle">
    <ul>
      { menuObject.map((item) => (
        <li>
          <a href={item.link}>{item.label}</a>
        </li>
      ))}
    </ul>
  </div>

</section>



<style lang="sass">
</style>


