---
type MenuItem = {
  label: string;
  link: string;
};

interface menuProp {
  menuObject: MenuItem[];
};

const { menuObject } = Astro.props as menuProp;
const { imgLogo } = Astro.props;
---

<section class="navBarMobile">

  <label class="menu-icon" id="btn-toggle">&#9776;</label>

  <figure class="logo-content">
    <a href="/">
      <img src={imgLogo} alt="Alianza Teatral Conect-arte logo" class="logo-img" />
    </a>
  </figure>

  <div class="menu-toggle" id="menu-object">
    <ul>
      { menuObject.map((item) => (
        <li>
          <a href={item.link}>{item.label}</a>
        </li>
      ))}
    </ul>
  </div>

</section>




<script>
let toggleActivate: boolean = false;
 
const btnToggle = document.getElementById('btn-toggle');
const menuObject = document.getElementById('menu-object');


if (btnToggle) {
  btnToggle.addEventListener('click', ()=>{
    event?.stopPropagation();
    toggleActivate = !toggleActivate;
    toggleFunction();
  });
};

const toggleFunction = () => {
  if(menuObject) {
    toggleActivate 
      ? 
      menuObject.style.display = 'block' 
      : 
      menuObject.style.display = 'none';
  };
};

document.addEventListener('click', (event) => {
  if (menuObject && !menuObject.contains(event.target as Node) && toggleActivate) {
    toggleActivate = false;
    toggleFunction();
  }
});
</script>





<style lang="sass">
.menu-icon
  position: fixed
  font-size: 40px
  cursor: pointer
  left: 1em
  top: 1px
  color: black
  &:hover
    filter: drop-shadow(0px 0px 2px rgba(255,255,255,0.2))

.navBarMobile
  width: 100%

.logo-content
  margin: auto
  margin-top: 12px
  padding: 0
  width: 12em
  &:hover
    filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.8))

.logo-img
  padding: 0
  width: 10em
  height: auto

.menu-toggle
  display: none
  float: left
  width: 99%
  height: 100vh
  background-color: rgba(219,134,43,1.0)
  backdrop-filter: blur(50px)
  margin-top: 0.5em
  trancision

ul
  height: 100vh
  width: 100%
  list-style-type: none
  margin-top: 2em
  padding: 0
  border: 0
  font-size: 1.2em
  li
    padding: 0
    padding-top: 1em
    padding-bottom: 1em
    a
      font-family: 'anaktoria'
      text-align: center
      text-decoration: none
      color: black
      padding: 0.8em
      padding-left: 2.8em
      padding-right: 14em 
    &:hover
      text-decoration: underline
      backgound-color: rgba(255,255,255,0.2)
      color: black

@media (max-width: 500px)
  .menu-icon
    left: 10px

  .logo-content
    margin-right: 6em

@media (max-width: 400px)
  .logo-content
    margin-right: 4em
</style>


