---
import NavDesktop from "./navBar/NavDesktop.astro"
import NavMobile from "./navBar/NavMobile.astro"

const imgLogo = 'logo.svg'

const menuObject = [
  {
    label: 'Noticias',
    link: '/',
  },
  {
    label: 'Eventos',
    link: '/tour',
  },
  {
    label: 'Media',
    link: '/media',
  },
  {
    label: 'Blog',
    link: '/blog',
  },
  {
    label: 'Nosotros',
    link: '/about',
  },
  {
    label: 'Contacto',
    link: '/contact'
  },
];
---


<nav class="navBar">
  <div id="navBar-desktop">
    <NavDesktop imgLogo={imgLogo} menuObject={menuObject} />
  </div>

  <div id="navBar-mobile">
    <NavMobile imgLogo={imgLogo} menuObject={menuObject} />
  </div>
</nav>


<style lang="sass">

#navBar-mobile
  display: none

@media (max-width: 1024px)
  #navBar-mobile
    display: block

  #navBar-desktop
    display: none

</style>
