---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	</head>
	<body>
    <div class="font-default">
      <div class="body-content">
        <div class="bg-return">
          <a href="/contact">&#11164; Regresar</a>
        </div>
        <div class="content">
          <slot />
        </div>
        <div class="void"></div>
      </div>
    </div>
	</body>
</html> 


<style lang="sass">
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap')

.font-default 
  font-family: "SUSE", sans-serif
  font-optical-sizing: auto
  font-weight: 800
  font-style: normal

html
  color: white

body 
  background: linear-gradient(rgba(35,35,35,0.15),rgba(35,35,35,0.15)), url('/public/assets/back.png')
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  margin: 0
  padding: 0


.body-content
  backdrop-filter: blur(60px)
  width: 100%
  min-height: 100vh

.content
  width: 80%
  max-height: 80vh
  background: rgba(0,0,0,0.4)
  margin: auto
  padding: 1em
  overflow: scroll
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4)

.bg-return
  text-align: center
  padding: 1em
  margin: auto
  a
    text-decoration: none
    font-size: 2em
    color: #CFA56A
    text-shadow: 0px 0px 20px rgba(207, 165, 106, 0.6)
    &:hover
      text-shadow: 0px 0px 8px rgba(207, 165, 106, 0.8)

.void
  padding: 2em

@media (max-width: 600px)
  .content
    width: 90%
    padding: 10px
    font-size: 14px

  .bg-return 
    a
      font-size: 1.2em

  .void
    padding: 0
  
</style>
